<% include ../partials/header %>
<header class="jumbotron">
    <div class="container text-center">
        <h1 class="kioku"><i class="fas fa-leaf"></i> K i o k u</h1>
        <p>Record memories of your trips.</p>
		<hr class="my-4">
        <p>
            <a class="btn btn-primary btn-lg" href="/attractions/new">Write your memory now!</a>
        </p>
		<p>
			<form action="/attractions" method="GET" class="form-inline" id="attraction-search">
				<div class="search-bar mx-auto">
					<input type="text" name="search" placeholder="Memory search..." class="form-control">
					<input type="submit" value="Search" class="btn btn-outline-primary">
				</div>
			</form>
		</p>
    </div>
</header>

<div class="row text-center" id="attraction-grid">
    <div class="col-md-12">
        <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
        <% } %>
    </div>
    <% attractions.forEach(function(attraction) { %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="<%= attraction.image %>" alt="<%= attraction.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= attraction.name %></h5>
                    <% if (attraction.rating === 0) { %>
						<em>No reviews yet.</em>
						<% } else { %>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star <% if (attraction.rating > 1.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (attraction.rating > 2.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (attraction.rating > 3.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (attraction.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
					<div class="likes-icon">
                    	<span class="badge badge-primary"><i class="fas fa-thumbs-up"></i> <%= attraction.likes.length %></span>
                	</div>
                    <a href="/attractions/<%= attraction._id %>" class="btn btn-outline-primary">More Info</a>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<% include ../partials/footer %>